<div class="container">


      <ul class="bxslider">
        <img src="/assets/sea1.jpeg" alt="">
        <img src="/assets/sea2.jpeg" alt="">
        <img src="/assets/sea3.jpeg" alt="">
        <img src="/assets/sea4.jpeg" alt="">
      </ul>


</div>


